@import '../../style-guide.scss';

form {
  margin-top: 20px;
}

input {
  width: 400px;
  padding: 12px;
  margin: 8px 0;
  display: flex;
  border: 1px solid $border-color-box;
  transition: all 0.3s;


  &:focus{
    border: 1px solid $primary-color;
  }
}

input[type=submit] {
  background-color: $primary-color;
  color: white;
  border: none;
  justify-content: center;
  &:hover {
    transition: all s;
    opacity: 0.8;
  }

  
}
