@import "../../../style-guide.scss";

.NearbyMarkets {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/nearby-markets-background.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__text-container {
    width: 60%;
  }

  &__center-text {
    text-align: center;
    color: $white;
    text-align: center;
    font-size: 3em;
    font-weight: $bold;
  }
}

@media (max-width: $notebook-break-point) {
  .NearbyMarkets {
    &__text-container {
      width: 60%;
    }

    &__center-text {
      text-align: center;
      color: white;
      text-align: center;
      font-size: 2em;
      font-weight: 700;
    }
  }
}
