#social-icons {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

#social-icons a {
  text-decoration: none;
  transition: opacity 0.2s;
  display: inline;
  margin: 0 10px;
}

.react-icons {
  vertical-align: auto;
}

#social-icons a:hover {
  opacity: 0.9;
}