@import '../../style-guide.scss';

.TopMenu {
  background-color: $primary-color;
  padding: 3em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menuItens{

    &__item{
      color: $white;
      padding: 0 1em;
      font-weight: 800;
      &:hover{
        opacity: 80%;
      }
    }
    
    &__button {
      padding: 1em 1em;
      box-shadow: 0px 0px 0.5em rgba($color: #7effc598, $alpha: 1.0);
      &:hover {
        opacity: 80%;
      }
    }
    
  }
}