@import '../../style-guide.scss';

.TopMenu {
  background-color: $primary-color;
  padding: 3em 4em;
  display: flex;
  justify-content: space-between;

  &__item {
    color: $white;
    padding: 0em 2em;
    font-weight: 800;
    &:hover{
      opacity: 80%;
    }
  }

  &__button {
    padding: 1em 3em;
    filter: drop-shadow(0px 0 10px $green-white-dropshadow);
  }
}