@import "../../../style-guide.scss";

.RegisterStoreContainer {
  width: 100%;
  margin: auto;
  max-width: $max-width;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    color: $primary-color;
    font-size: 2em;
  }

  &__description {
    margin: 2em 0;
    text-align: center;
    width: 70%;
  }

  &__image {
    height: 80%;
  }

  &__button {
    background-color: $primary-color;
    padding: 1em;
    text-transform: uppercase;
    color: white;
    font-weight: $bold;
    border-radius: $default-radius;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: $notebook-break-point) {
  .RegisterStore {
    &__description {
      width: 80%;
    }

    &__image {
      width: 70%;
      height: auto;
    }
  }
}
