$font-stack: 'Roboto',
Helvetica,
Arial,
sans-serif;

$primary-color: #009953;
$secundary-color: #333333;
$tertiary-color: #fafafa;
$black: #000;
$white: #fff;
$border-color-box: #ccc;

$default-radius: 12px;

$notebook-break-point: 1024px;

* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s;
}
body {
  width: 100%;
}

.Button {
  font-weight: 800;
  border-radius: $default-radius;
  &--white {
    color: $primary-color;
    background-color: $white;
  }
  &:hover {
    opacity: 80%;
  }
}