$font-stack: 'Roboto',
Helvetica,
Arial,
sans-serif;

$primary-color: #009953;
$secundary-color: #333333;
$tertiary-color: #fafafa;
$black: #000;
$white: #fff;
$border-color-box: #ccc;
$green-white-dropshadow: #99ffd1;
$bold: 700;
$z-index-1: 1;
$z-index-2: 5;
$z-index-3: 8;
$z-index-4: 10;

$default-radius: 12px;

$notebook-break-point: 1240px;

* {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

body {
  width: 100%;
}

.Inactive {
  display: none !important;
}

.Button {
  font-weight: 800;
  border-radius: $default-radius;
  &--white {
    color: $primary-color;
    background-color: $white;
  }
  &:hover {
    opacity: 80%;
  }
}